@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: rgb(156, 150, 150);
    color: black;
}
div{
    font-family: 'Montserrat', sans-serif;
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Images/Hero_Images/jonathan-borba-p9OhuSyPW2E-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
}
h2{
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    color: white
}
/* Home page */
.hero-text{
    color: white;
    text-align: center;
}
.hero-text h2{
    font-size: 40px;
    
}
.hero-text p{
    line-height: 1.5rem;
}

/* top nav bar */

.home {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-weight: bold;
}

.home > a {
    padding: 10px 0;
}

.home > a:hover {
    color: black;
    background-color: white;
    transition: .5s;
}

nav{
    font-size: 24px;
    background-color: rgb(124, 119, 119);
}


/* projects page */
.project{
    
}
.card-container{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: .5s;
    background-color: rgb(243, 240, 240);
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.card-image{
    width: 100%;
    border-radius: 10px;
    margin: auto;
}
.card:hover{
    background-color: rgb(124, 119, 119);
    color: rgb(243, 240, 240);
    transition: .5s;
}
.card > a{
    text-decoration: none;
    color: black;
}
.card > a:hover{
    transition: .5s;
    color: rgb(243, 240, 240);
}

/* contact page */
.contact-container h2{
    padding-bottom: 30px;

}
.contact-methods{
    padding-bottom: 50px;
}
.contact{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    transition: color .2s;

}

.contact:hover{
    color: black;
    
}

.contact > a:hover{
    color: black; 
    transition: .5s;
}

/* About page */

.about-info{
    background-color: rgb(124, 119, 119);
}

.about-info p{
    margin-left: 30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(124, 119, 119);
    margin: 60px;
    min-width: auto;
}
.about-resume{
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.about-resume > a:hover{
    color: black;
    transition: .5s;
}
.personal-image{
    width: 100%;
    min-width: 200px;
    border-radius: 10%;
}
/* footer */
footer{
    background-color: rgb(124, 119, 119);
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.copyright{
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 640px){
    nav ul{
        flex-direction: column;
    }
    .hero-image{
        height: calc(100% - 228px);
    }
    .contact-methods{
        flex-direction: column;
    }
}